.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 78vh;
  margin-top: 4rem;

  h1 {
    text-align: center;
    font-size: 1.8rem;
    max-width: 55rem;
  }
}
