@use "../../../styles/scss/responsive";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.5rem;

  h1 {
    text-align: center;
    font-size: 1.8rem;
    max-width: 55rem;

    @include responsive.xs {
      width: 19rem;
    }
  }
}
