@use "../../../../styles/scss/variables";

.linkHolder {
  text-decoration: none;
  color: variables.$dark-text-color;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 18.5rem;
  height: 25rem;
  padding: 1rem;
  border: 0.1rem solid black;
  border-radius: 0.6rem;
  box-shadow: variables.$primary-shadow;
  background-color: variables.$background-color;
  transition: all 0.25s ease;
  cursor: pointer;

  &:hover {
    scale: 1.05;
  }

  .imageBox {
    height: 10rem;
    width: 100%;
    border-radius: 0.6rem;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    box-shadow: variables.$secondary-shadow;
    border: 0.1rem solid variables.$secondary-color;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .descriptionBox {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2.5rem;
      text-align: center;
      font-size: 1.1rem;
      // margin-top: 0.5rem;
    }

    h4,
    h5,
    h6,
    p {
      display: flex;
      justify-content: space-between;
      width: 15rem;
    }

    h4,
    h5 {
      font-weight: 400;
      font-size: 0.95rem;

      span {
        font-weight: 600;
      }
    }

    h5 {
      padding-bottom: 0.4rem;
      border-bottom: 0.1rem solid variables.$secondary-color;
    }

    h6 {
      font-size: 0.7rem;
      font-weight: 400;

      span {
        font-weight: 600;
      }
    }

    p {
      font-size: 0.7rem;

      span {
        font-weight: 600;
      }
    }
  }
}
