@use "../../../../styles/scss/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 17rem;
  height: 24rem;
  padding: 1rem;
  border: 0.1rem solid black;
  border-radius: 0.6rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: variables.$background-color;
  transition: all 0.25s ease;
  cursor: pointer;

  &:hover {
    scale: 1.05;
  }

  .imageBox {
    border-radius: 0.6rem;
    box-shadow: rgba(149, 157, 165, 0.35) 0px 8px 24px;
    overflow: hidden;

    img {
      object-fit: cover;
    }
  }

  .descriptionBox {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    h3 {
      text-align: center;
      font-size: 1.05rem;
      margin-top: 0.5rem;
    }

    h4,
    h5,
    h6,
    p {
      display: flex;
      justify-content: space-between;
      width: 15rem;
    }

    h4,
    h5 {
      font-weight: 400;
      font-size: 0.95rem;

      span {
        font-weight: 600;
      }
    }

    h5 {
      padding-bottom: 0.4rem;
      border-bottom: 0.1rem solid black;
    }

    h6 {
      font-size: 0.7rem;
      font-weight: 400;

      span {
        font-weight: 600;
      }
    }

    p {
      font-size: 0.7rem;

      span {
        font-weight: 600;
      }
    }
  }
}
