@use "../../../../styles/components/responsive";

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 2rem;

  &::before {
    content: "";
    position: absolute;
    width: calc(100% + 4rem);
    left: -2rem;
    top: 100%;
    height: 0.1rem;
    border-bottom: 0.1rem solid black;
  }

  h1 {
    letter-spacing: 0.1rem;
    font-weight: 600;
    cursor: pointer;
  }

  .navList {
    display: flex;
    align-items: center;
    gap: 3rem;

    a {
      text-decoration: none;
      font-size: 1.1rem;
      font-weight: 500;
      color: black;

      @include responsive.md {
        display: none;
      }
    }

    button {
      all: unset;
      display: none;

      @include responsive.md {
        display: inline-block;
      }

      svg {
        cursor: pointer;
      }
    }
  }

  .mobileMenu {
    display: none;
    position: absolute;
    right: 0;
    top: calc(100% + 2rem);

    @include responsive.md {
      display: flex;
    }

    nav {
      position: relative;
      z-index: 10;

      ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style-type: none;

        li {
          a {
            text-decoration: none;
            font-size: 1.1rem;
            font-weight: 500;
            color: black;
          }
        }
      }
    }
  }
}
